name: CI

on:
  push:
    branches: [main]
    tags: ["v*"]
  pull_request:
    branches: [main]

jobs:
  golang:
    name: Golang
    permissions:
      contents: write
      pull-requests: write
      checks: write
      issues: write
    uses: depado/github-actions/.github/workflows/golang.yml@main
    with:
      skip-build: true
